- content_for :app_head do
  = javascript_include_tag "pages/welcome/index-bundle"
  = stylesheet_link_tag "pages/welcome/index-bundle", :media => "all"

- content_for :app_content do
  #top-bar
    =image_tag "logo.jpg", width: "50px", class: "logo-image"
    #login-btn-wrapper
      - if @current_user.present?
        %a.login-btn.btn.btn-success{href: "/operator/missions"} 云端平台
      - else
        %a.login-btn.btn.btn-success{href: new_client_session_path} 登录
        %a.registrate-btn.btn.btn-success{href: "javascript:void(0);"} 注册 

  #search-wrapper
    #search-box
      #search-field-wrapper
        %input#search-input.form-control{:placeholder => "企业名称、行业、概念等", :type => "text"}/
      #search-btns-wrapper
        %a#filter-btn.btn.btn-primary{href: "javascript:void(0);"} 条件筛选
        %a#search-btn.btn.btn-primary{href: "javascript:void(0);"} 搜索
    .clear-both
    #tips
      %a{href: "javascript:void(0);"} 创新层
      %a{href: "javascript:void(0);"} 游戏
      %a{href: "javascript:void(0);"} 餐饮旅游

  #content-wrapper
    %div
      / Nav tabs
      %ul#tabs.nav.nav-tabs{:role => "tablist"}
        %li.active
          %a{"data-toggle" => "tab", :href => "#new_list", :role => "tab"} 最新挂牌
        %li
          %a{"data-toggle" => "tab", :href => "#new_financing", :role => "tab"} 最新融资
        %li
          %a{"data-toggle" => "tab", :href => "#institution_feeds", :role => "tab"} 机构动向
        %li
          %a{"data-toggle" => "tab", :href => "#hot_topics", :role => "tab"} 热门概念
        %li
          %a{"data-toggle" => "tab", :href => "#innovation", :role => "tab"} 创新层
        %li
          %a{"data-toggle" => "tab", :href => "#market_feeds", :role => "tab"} 市场动态
      / Tab panes
      .tab-content
        #new_list.tab-pane.active AAA
        #new_financing.tab-pane BBB
        #institution_feeds.tab-pane CCC
        #hot_topics.tab-pane DDD
        #innovation.tab-pane EEE
        #market_feeds.tab-pane FFF


  #bottom-bar
    #beian 京ICP备XXXXXXX
