- content_for :head do
  = javascript_include_tag "pages/operator/missions/show-bundle"
  = stylesheet_link_tag "pages/operator/missions/show-bundle", :media => "all"

.top-wrapper
  .left
    %span= @company.name
  .right
    %button.btn.btn-primary{:type => "button"} 提交

.content-wrapper
  .sub-title 风险提示：
  .risks-part-wrapper
    .risks-wrapper
      .risk-wrapper.form-inline
        %input.risk-name.form-control{:placeholder => "风险名称", :type => "text"}/
        %input.risk-desc.form-control{:placeholder => "风险描述", :type => "text"}/
        %select.form-control
          %option 上游供应商资金风险
          %option 下游客户关联风险
          %option 资金链断裂风险
        %button.btn.btn-danger.rm-risk{:type => "button"} 删除
    .risk-clone.hide
      .risk-wrapper.form-inline
        %input.risk-name.form-control{:placeholder => "风险名称", :type => "text"}/
        %input.risk-desc.form-control{:placeholder => "风险描述", :type => "text"}/
        %select.form-control
          %option 上游供应商资金风险
          %option 下游客户关联风险
          %option 资金链断裂风险
        %button.btn.btn-danger.rm-risk{:type => "button"} 删除
    %button.btn.btn-success.add-risk{:type => "button"} 增加一条
  .sub-title 主营业务
  .main-business-part-wrapper
    #main-business-editor
  .sub-title 主要客户情况
  .main-customer-wrapper
    .main-customer-base-wrapper.form-inline
      %span 选择基准年份
      %select.form-control
        %option 2013
        %option 2014
        %option 2015
    .main-customer-tab
      %ul.nav.nav-tabs
        %li.active
          %a#main-customer-year-1{"data-toggle" => "tab", :href => "#main-customer-tab-1"} 2015年度
        %li
          %a#main-customer-year-2{"data-toggle" => "tab", :href => "#main-customer-tab-2"} 2014年度
        %li
          %a#main-customer-year-3{"data-toggle" => "tab", :href => "#main-customer-tab-3"} 2013年度
      .tab-content
        #main-customer-tab-1.tab-pane.active
          - 5.times do |e|
            .customer-wrapper.form-inline
              %input.customer-name.form-control{:placeholder => "客户全称", :type => "text"}/
              %input.customer-value.form-control{:placeholder => "销售金额（万元）", :type => "text"}/
              %input.customer-ratio.form-control{:placeholder => "占比（%）", :type => "text"}/
        #main-customer-tab-2.tab-pane
          - 5.times do |e|
            .customer-wrapper.form-inline
              %input.customer-name.form-control{:placeholder => "客户全称", :type => "text"}/
              %input.customer-value.form-control{:placeholder => "销售金额（万元）", :type => "text"}/
              %input.customer-ratio.form-control{:placeholder => "占比（%）", :type => "text"}/
        #main-customer-tab-3.tab-pane
          - 5.times do |e|
            .customer-wrapper.form-inline
              %input.customer-name.form-control{:placeholder => "客户全称", :type => "text"}/
              %input.customer-value.form-control{:placeholder => "销售金额（万元）", :type => "text"}/
              %input.customer-ratio.form-control{:placeholder => "占比（%）", :type => "text"}/
  .sub-title 主要经销商情况
  .main-dealer-wrapper
    .main-dealer-base-wrapper.form-inline
      %span 选择基准年份
      %select.form-control
        %option 2013
        %option 2014
        %option 2015
    .main-dealer-tab
      %ul.nav.nav-tabs
        %li.active
          %a#main-dealer-year-1{"data-toggle" => "tab", :href => "#main-dealer-tab-1"} 2015年度
        %li
          %a#main-dealer-year-2{"data-toggle" => "tab", :href => "#main-dealer-tab-2"} 2014年度
        %li
          %a#main-dealer-year-3{"data-toggle" => "tab", :href => "#main-dealer-tab-3"} 2013年度
      .tab-content
        #main-dealer-tab-1.tab-pane.active
          - 5.times do |e|
            .dealer-wrapper.form-inline
              %input.dealer-name.form-control{:placeholder => "经销商全称", :type => "text"}/
              %input.dealer-value.form-control{:placeholder => "销售金额（万元）", :type => "text"}/
              %input.dealer-ratio.form-control{:placeholder => "占比（%）", :type => "text"}/
        #main-dealer-tab-2.tab-pane
          - 5.times do |e|
            .dealer-wrapper.form-inline
              %input.dealer-name.form-control{:placeholder => "经销商全称", :type => "text"}/
              %input.dealer-value.form-control{:placeholder => "销售金额（万元）", :type => "text"}/
              %input.dealer-ratio.form-control{:placeholder => "占比（%）", :type => "text"}/
        #main-dealer-tab-3.tab-pane
          - 5.times do |e|
            .dealer-wrapper.form-inline
              %input.dealer-name.form-control{:placeholder => "经销商全称", :type => "text"}/
              %input.dealer-value.form-control{:placeholder => "销售金额（万元）", :type => "text"}/
              %input.dealer-ratio.form-control{:placeholder => "占比（%）", :type => "text"}/

  .sub-title 主要供应商情况
  .main-provider-wrapper
    .main-provider-base-wrapper.form-inline
      %span 选择基准年份
      %select.form-control
        %option 2013
        %option 2014
        %option 2015
    .main-provider-tab
      %ul.nav.nav-tabs
        %li.active
          %a#main-provider-year-1{"data-toggle" => "tab", :href => "#main-provider-tab-1"} 2015年度
        %li
          %a#main-provider-year-2{"data-toggle" => "tab", :href => "#main-provider-tab-2"} 2014年度
        %li
          %a#main-provider-year-3{"data-toggle" => "tab", :href => "#main-provider-tab-3"} 2013年度
      .tab-content
        #main-provider-tab-1.tab-pane.active
          - 5.times do |e|
            .provider-wrapper.form-inline
              %input.provider-name.form-control{:placeholder => "经销商全称", :type => "text"}/
              %input.provider-value.form-control{:placeholder => "销售金额（万元）", :type => "text"}/
              %input.provider-ratio.form-control{:placeholder => "占比（%）", :type => "text"}/
        #main-provider-tab-2.tab-pane
          - 5.times do |e|
            .provider-wrapper.form-inline
              %input.provider-name.form-control{:placeholder => "经销商全称", :type => "text"}/
              %input.provider-value.form-control{:placeholder => "销售金额（万元）", :type => "text"}/
              %input.provider-ratio.form-control{:placeholder => "占比（%）", :type => "text"}/
        #main-provider-tab-3.tab-pane
          - 5.times do |e|
            .provider-wrapper.form-inline
              %input.provider-name.form-control{:placeholder => "经销商全称", :type => "text"}/
              %input.provider-value.form-control{:placeholder => "销售金额（万元）", :type => "text"}/
              %input.provider-ratio.form-control{:placeholder => "占比（%）", :type => "text"}/
  .sub-title 商业模式
  .business-modes-part-wrapper
    .business-modes-wrapper
      .business-mode-wrapper.form-inline
        %select.form-control
          %option 商业模式
          %option 盈利模式
          %option 销售模式
          %option 采购模式
          %option 研发模式
          %option 生产模式
        %input.business-mode-desc.form-control{:placeholder => "内容描述", :type => "text"}/
        %button.btn.btn-danger.rm-business-mode{:type => "button"} 删除
    .business-mode-clone.hide
      .business-mode-wrapper.form-inline
        %select.form-control
          %option 商业模式
          %option 盈利模式
          %option 销售模式
          %option 采购模式
          %option 研发模式
          %option 生产模式
        %input.business-mode-desc.form-control{:placeholder => "内容描述", :type => "text"}/
        %button.btn.btn-danger.rm-business-mode{:type => "button"} 删除
    %button.btn.btn-success.add-business-mode{:type => "button"} 增加一条
  .sub-title 市场空间
  .market-space-part-wrapper
    #market-space-editor
  .sub-title 竞争对手
  .rivals-pat-wrapper
    .rivals-wrapper
      .rival-wrapper.form-inline
        %input.rival-brand.form-control{:placeholder => "竞争品牌", :type => "text"}/
        %input.rival-name.form-control{:placeholder => "竞争对手全称", :type => "text"}/
        %input.rival-introduce.form-control{:placeholder => "竞争对手简介", :type => "text"}/
        %input.rival-desc.form-control{:placeholder => "竞争对手描述", :type => "text"}/
        %button.btn.btn-danger.rm-rival{:type => "button"} 删除
    .rival-clone.hide
      .rival-wrapper.form-inline
        %input.rival-brand.form-control{:placeholder => "竞争品牌", :type => "text"}/
        %input.rival-name.form-control{:placeholder => "竞争对手全称", :type => "text"}/
        %input.rival-introduce.form-control{:placeholder => "竞争对手简介", :type => "text"}/
        %input.rival-desc.form-control{:placeholder => "竞争对手描述", :type => "text"}/
        %button.btn.btn-danger.rm-rival{:type => "button"} 删除
    %button.btn.btn-success.add-rival{:type => "button"} 增加一条
